@font-face {
  font-family: "Gotham";
  src: url("../Assets/fonts/Gotham-Book.otf") format("opentype");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../Assets/fonts/Gotham-Medium.otf") format("opentype");

  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Ninja Naruto Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../Assets/fonts/ninja-naruto_woff/ninja-naruto.regular.woff")
    format("woff");
}

@font-face {
  font-family: "Dimitri Inverse";
  font-style: normal;
  font-weight: normal;
  src: url("../Assets/fonts/dimitri_woff/dimitri-inverse.woff") format("woff");
}
@font-face {
  font-family: "Dimitri Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../Assets/fonts/dimitri_woff/dimitri.woff") format("woff");
}

body {
  font-family: "Gotham", monospace, serif;
}
